<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/record_form' %>
      </section>
    <% 
      cnst = Constant.find(1)
      tally_from = cnst["tally_from"]
      tally_to = cnst["tally_to"]
    # for Posrgresql
      sql = <<-ENDSQL
  SELECT weekno, sum(steps) as total
  FROM
    (SELECT user_id, steps, recdate, 
          ((recdate- DATE('#{tally_from}'))/7)*7+DATE('#{tally_from}') as weekno 
     FROM records 
    ) as t2
  WHERE (user_id=#{current_user.id} )
    AND (recdate > to_date('#{tally_from}', 'YYYY/MM/DD') )
    AND (recdate < to_date('#{tally_to}',   'YYYY/MM/DD') )
  GROUP BY weekno ORDER BY weekno
ENDSQL

    %>
    <% tbl = Record.find_by_sql(sql) %>
    <% grpopt = { :title=> 'weekly progress', 
                  :hAxis=> {slantedText: true, slantedTextAngle: 90, format:'MMM d'} } %>

    <% data = [] %>
    <% tbl.each{|t|
      data.push([t.weekno.strftime("%m/%d"), t.total])
    } %>
    
    <%= column_chart data, :library=>grpopt %>


    </aside>

    <div class="span8">
      <h3>Record Feed</h3>
      <%= render 'shared/feed' %>
    </div> 

  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Pedometer</h1>

    <h2>
    This is the home page for the Pedometer.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
