<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">
    <% if @user.records.any? %>
      <h3>Records (<%= @user.records.count %>)</h3>
      <ol class="records">
        <%= render 'shared/feed' %>

      </ol>
    <% end %>
  </div>  
</div>

<%# select weekno, sum(steps) 
from (select steps, ((date-'2012/12/30')/7) as weekno from records where user_id=22) as t2 
group by weekno
order by weekno;
 %>

 <%# t = Record.find_by_sql("SELECT steps, ((date-'2012/12/30')/7) as weekno from records where user_id=#{@user.id}") %>
 <% sql = <<-ENDSQL
  SELECT weekno, sum(steps) as total
  FROM
    (SELECT user_id, steps, ((recdate- DATE('2012/12/30'))/7)*7+DATE('2012/12/30') as weekno FROM records ) as t2
  WHERE user_id=#{@user.id} GROUP BY weekno ORDER BY weekno
ENDSQL
    data = Record.find_by_sql(sql) %>
 
 <% data.each{|d| %>
 <%=  d.weekno  %> <%= d.total %>
 <% } %>
