<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>


    <% # for Posrgresql
      sql = <<-ENDSQL
  SELECT weekno, sum(steps) as total
  FROM
    (SELECT user_id, steps, ((recdate- DATE('2012/12/30'))/7)*7+DATE('2012/12/30') as weekno FROM records ) as t2
  WHERE user_id=#{@user.id} GROUP BY weekno ORDER BY weekno
ENDSQL
    %>
    <% tbl = Record.find_by_sql(sql) %>
    <% grpopt = { :title=> 'weekly progress', 
                  :hAxis=> {slantedText: true, slantedTextAngle: 90, format:'MMM d'} } %>

    <% data = [] %>
    <% tbl.each{|t|
      data.push([t.weekno.strftime("'%m/%d_"), t.total])
    } %>
    
    <%= line_chart data, :library=>grpopt %>

  </aside>

  <div class="span8">
    <% if @user.records.any? %>
      <h3>Records (<%= @user.records.count %>)</h3>
      <ol class="records">
        <%= render 'shared/feed' %>

      </ol>
    <% end %>
  </div>  
</div>
