<% provide(:title, "Constants") %>
<h1>Constants</h1>

<div>

    <%= form_for(@const) do |f| %>
      <%= f.label "stride" %>
      <%= f.text_field :stride, :placeholder=>"cm" %> cm

      <%= f.label "swimming for 100m worthes " %>
      <%= f.text_field :swim_steps_per_m, :placeholder=>"steps" %> steps/m
 
      <%= f.label "riding for 1km worthes" %>
      <%= f.text_field :ride_steps_per_km, :placeholder=>"steps" %> steps/km

      <%= f.label "tally up from" %>
      <%= f.text_field :tally_from, :placeholder=>"from_date (yyyy/mm/dd)" %> 

      <%= f.label "tally up to" %>
      <%= f.text_field :tally_to, :placeholder=>"to_date (yyyy/mm/dd)" %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>